body {
    background-color: #121521;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.container {
    width: 1242px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.sbetween {
    justify-content: space-between;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    color: #ffffff;
}

h3 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.description {
    font-family: 'Darker Grotesque', sans-serif;
    color: #B2B2D3;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
   
}

.description__uppercase--big {
    font-family: 'Darker Grotesque';
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #B2B2D3;
}

.description__uppercase--small {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.description--lowercase {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #B2B2D3;
}

.description--lowercase600 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}

.mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 141px;
    
}

.mainmenu__list {
    display: flex;
    gap: 42px;
    font-size: 20px;
    list-style: none;
}

.mainmenu__list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    font-size: 20px;
}

.mainscreen__block {
    align-items: center;
    height: 750px;
    gap: 75px;
}

.mainscreen__left {
    width: 455px;
}

.buttons {
    width: 455px;
    gap: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    padding: 10px 40px 10px 40px;
}

.button__primary {
    background-color: #40467C;
}

.button__primary:hover {
    background-color: #51578C;
}

.border__secondary {
    border: 2px solid #ffffff;
}

.border__inactive {
    border: 2px solid #40467C;
}

.benefit {
    margin-top: 119px;
    height: 524px;
}

.benefit__images {
    position: absolute;
}

.background__video {
    position: relative;
    z-index: 0;
}

.btn__video {
    position: relative;
    z-index: 1;
    bottom: 232px;
    right: 350px;
}

.benefit__block {
    position: relative;
    z-index: -1;
    left: 606px;
    width: 636px;
    height: 524px;
    background-color: #1B213A;
}

.benefit__text {
    margin-left: 30px;
    margin-right: 30px;
}

.btn__video {
    position: relative;
    z-index: 1;
}

.block--grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.benefit__item {
    width: 273px;
}

.location {
    height: 663px;
    margin-top: 121px;
}

.location__navigation {
    gap: 29px;
}

.location__cards {
    gap: 30px;
    margin-top: 50px;
}

.location__image {
   width: 394px;
   height: 394px;
}

.location__title {
    align-items: center;
    height: 38px;
}

.location__rating {
    align-items: center;
    height: 38px;
}

.rating {
    height: 16px;
    width: 16px;
}

.description--rating {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.cost {
    margin-top: 4px;
    align-items: center;
    height: 27px;
}

.location__button {
    position: absolute;
}

.button__center {
    position: relative;
    bottom: 250px;
    left: 80px;
}

.booking {
    background-color: #1B213A;
    height: 845px;
}

.booking__block {
    gap: 60px;
    justify-content: space-between;
    align-items: center;
}

.booking__left {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.booking__item {
    width: 576px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    height: auto;
}

.booking__text {
    width: 468px;
    margin-left: 30px;
}

.vector-close {
    position: relative;
    bottom: 270px;
    left: 505px;
   
}

.vector-open {
    position: relative;
    bottom: 42px;
    left: 480px;
   
}

.gallery {
    height: 855px;
    margin-top: 127px;
}

.gallery__title {
    height: 100px;
    align-items: center;
    
}

.gallery__titleposition {
    width: 630px;
    height: 60px;
    align-items: center;
    gap: 30px;
}

.gallery__images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

.gallery__images--big {
    width: 606px;
    height: 630px;
}

.gallery__images--small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.gallery__images--small img {
    height: 300px;
    width: 288px;
}

.reviews {
    height: 800px;
}

.reviews__outside {
    position: absolute;
}

.reviews__navigation {
    position: relative;
    right: 100px;
    top: -17px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 30px;
}

.reviews__columns {
    gap: 30px;
   
}

.reviews__customers {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 30px;
}

.reviews__item {
    width: 500px;
    height: 274px;
}

.reviews__item--center {
    width: 420px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    height: 274px;
    margin-left: 40px;
}

.item--dark {
    background-color: #1B213A;
    
}

.contact {
    height: 640px;
}

.contact__outside {
    position: relative;
    right: 339px;
}

.contact__form {
    width: 636px;
}

.input:focus {
    border: 2px solid #ffffff;
}

.textform {
    background-color: #1B213A;
    border: 2px solid #40467C;
    width: 516px;
    height: 60px;
}

.textform:active {
    border: 2px solid #FFFFFF;
}

.textform--font {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #B2B2D3;
}

.textform--font:active {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.textarea {
    background-color: #1B213A;
    border: 2px solid #40467C;
    width: 516px;
    height: 126px;
}

.textarea:active {
    border: 2px solid #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact__form--margin {
    margin: 100px 60px 100px 60px;
}

.footer {
    margin-top: 72px;
    
}

.sign-up__mail {
    width: 410px;
    height: 60px;
    background-color: #121521;
    border: 2px solid #40467C;
}

.sign-up__button {
    position: relative;
    bottom: 63px;
    left: 263px;
}

.footer__menu {
    align-items: center;
    height: 199px;
}

.footer__menu--left {
    width: 662px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
}

.checkbox {
    cursor: pointer;
  }

.checkbox__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.checkbox__input:checked {
    background-color: #40467C;
}

.checkbox__text {
    width: 214px;
}

.checkbox__input:checked + .checkbox__text::before {
    background-color: grey;
  }

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
    gap: 25px;

}

.copyright li{
    color: #B2B2D3;

}

.social__network {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 10px;
}